/* Contenedor principal del CartPreview */
.cart-preview {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 15px;
  display: none; /* Oculto por defecto */
  flex-direction: column;
}

.cart-preview.open {
  display: flex; /* Mostrar cuando esté abierto */
}
  /* Clase para mostrar el CartPreview con altura dinámica */
  .cart-preview.open {
    max-height: 600px; /* Altura máxima cuando está abierto */
    overflow-y: auto; /* Habilitar scroll si excede la altura */
  }
  @media (max-width: 900px) {
  /* Tablets */
  .main-container, .support, .auth-form, .add-product-page, .manage-products-page, .systemadmin-page, .checkout-page, .cart-page, .configuration-page {
    max-width: 95%;
    padding: 10px;
    margin: 20px auto;
  }
}

@media (max-width: 600px) {
  /* Móviles */
  .main-container, .support, .auth-form, .add-product-page, .manage-products-page, .systemadmin-page, .checkout-page, .cart-page, .configuration-page {
    max-width: 100%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 0;
    box-shadow: none;
  }
  h2, h3 {
    font-size: 1.2em;
  }
  input, textarea, select, button {
    font-size: 1em;
  }
}
  /* Lista de productos */
  .cart-preview ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1; /* Permite que la lista ocupe el espacio disponible */
    overflow-y: auto; /* Habilitar scroll si hay muchos productos */
  }
  
  /* Botón para ver el carrito completo */
  .view-cart-button {
    background-color: #8D7B31;
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Espaciado superior */
  }
  
  .view-cart-button:hover {
    background-color: #645722;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .cart-item.removing {
    animation: fadeOut 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }