#sideshow-example {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;  
    width: 50vw;  
    margin: 0 auto;  
    margin-top: 70px; 
    position: relative;  
  }
  
  .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;  
  }
  
  .slide.active {
    display: block;
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }
  
  .slide .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #8D7B31;
    font-size: 40px;
    stroke-width: 2px;
    -webkit-text-stroke: 0.5px white;
    font-family: 'Titillium Web', sans-serif;
    padding: 10px;
    border-radius: 5px;
  }
  
  button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 999; /* Asegura que las flechas estén por debajo del header */
  }
  
  button.prev {
    left: 10px;
  }
  
  button.next {
    right: 10px;
  }
  
  button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Adaptación móvil */
  @media (max-width: 768px) {
    #sideshow-example {
      width: 90vw;
      height: 30vh;
    }
  
    .slide .text-overlay {
      font-size: 20px;
    }
  }